@import "./highlight.css";

@tailwind base;

/* reset reset-css */
a {
  @apply text-blue-500 cursor-pointer;
}

blockquote {
  @apply p-4 my-4 italic border-l-4 border-gray-300;
}

ul {
  @apply my-2;

  ul {
    @apply my-0;
  }

  li {
    @apply ml-4 my-1 list-disc;
  }
}

ol {
  @apply my-2;

  ol {
    @apply my-0;
  }

  li {
    @apply ml-4 my-1 list-decimal;
  }
}

@tailwind components;
@tailwind utilities;

:root {
  text-size-adjust: none;
  font-size: 16px;
}

html {
  color: var(--font-primary);
  background-color: var(--background-color);
}

main pre {
  overflow-x: auto;
  border-radius: 12px;
  background-color: var(--code-background);
  color: whitesmoke;
  padding: 1em;
  margin: 1em 0;
}

main {
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
}

#search p {
  color: var(--font-primary);
}

#search li {
  color: var(--font-primary);
  background: var(--code-background);
}

#search a {
  color: cyan;
}

.hljs {
  display: block;
  overflow-x: auto;
  background-color: var(--code-background);
}

main p>code {
  display: inline-block;
  padding: 0 0.5rem;
  color: #cdd6f4;
  background: var(--code-background);
  border-radius: 5px;
}

:root {
  --code-background: #1e1e2e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #24273a;
    --font-primary: whitesmoke;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: whitesmoke;
    --font-primary: black;
  }
}
