---
import PostLists from "../../components/PostLists.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <style slot="head">
    @view-transition {
      navigation: auto;
    }
  </style>
  <section>
    <PostLists />
  </section>
</BaseLayout>
