@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@layer base {
  :root {
    view-transition-name: none;
    container: root / inline-size;
  }

  body {
    @apply p-0 m-0 font-sans text-[20px] leading-[1.7] text-gray-dark text-left break-words bg-gray-gradient bg-no-repeat;
    background-size: 100% 600px;
  }

  main {
    @apply w-720 max-w-[calc(100%-2em)] py-12 px-4 mx-auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply m-0 mb-2 leading-[1.2] text-black;
  }

  h1 {
    @apply text-[1.953em];
  }

  h2 {
    @apply text-[1.563em];
  }

  h3,
  h4,
  h5 {
    @apply text-[1.17em];
  }

  strong,
  b {
    @apply font-bold;
  }

  a {
    @apply text-accent;
  }

  a:hover {
    @apply text-accent;
  }

  p {
    @apply mb-4;
  }

  textarea {
    @apply w-full text-base;
  }

  input {
    @apply text-base;
  }

  table {
    @apply w-full;
  }

  img {
    @apply max-w-full h-auto rounded-[8px];
  }

  code {
    @apply py-0.5 px-[5px] bg-gray-light rounded-[2px];
  }

  pre {
    @apply p-6 rounded-[8px];
  }

  pre > code {
    all: unset;
  }

  blockquote {
    @apply pl-5 p-0 m-0 text-[0.97em] border-l-4 border-accent;
  }

  hr {
    @apply border-none border-t border-gray-light;
  }

  @container root (width <= 720px) {
    body {
      @apply text-[18px];
    }

    main {
      @apply p-4;
    }
  }
}

@layer components {
  .prose p {
    @apply mb-8;
  }

  .sr-only {
    @apply absolute w-px h-px p-0 m-0 overflow-hidden whitespace-nowrap border-0;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
  }
}
