---
import PostLists from "../components/PostLists.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <style slot="head">
    @view-transition {
      navigation: auto;
    }
  </style>
  <section>
    <ul>
      <PostLists size={10} />
    </ul>
  </section>
</BaseLayout>

<style>
  ul {
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
</style>
