---
import PostLists from "../components/PostLists.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <style slot="head">
    @view-transition {
      navigation: auto;
    }
  </style>
  <section>
    <PostLists size={10} />
  </section>
</BaseLayout>
