---
import { joinURL } from "ufo";
import PostLists from "../components/PostLists.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout image={joinURL(import.meta.env.BASE_URL, "og", "index.png")}>
  <style slot="head">
    @view-transition {
      navigation: auto;
    }
  </style>
  <section>
    <PostLists size={10} />
  </section>
</BaseLayout>
