@tailwind base;

/* reset reset-css */
a {
  @apply text-blue-500 cursor-pointer;
}

blockquote {
  @apply p-4 my-4 italic border-l-4 border-gray-300;
}

ul {
  @apply my-2;

  ul {
    @apply my-0;
  }

  li {
    @apply ml-4 my-1 list-disc;
  }
}

ol{
  @apply my-2;

  ol {
    @apply my-0;
  }

  li {
    @apply ml-4 my-1 list-decimal;
  }
}

@tailwind components;
@tailwind utilities;

:root {
  text-size-adjust: auto;
  font-size: 16px;
}

html {
  background-color: var(--background-color);
  color: var(--font-primary);
}

main pre {
  border-radius: 12px;
  padding: 1rem;
  margin: 1rem 0;
  overflow-x: auto;
}

#search p {
  color: var(--font-primary);
}

#search li {
  color: var(--font-primary);
  background: var(--code-background);
}

#search a {
  color: cyan;
}

main p>code {
  color: #cdd6f4;
  background: var(--code-background);
  display: inline-block;
  padding: 0 0.5rem;
}

/* NOTE: conflict prismjs style and windi. */
/* so, cancel windi */
main code .table {
  display: inherit;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #24273a;
    --code-background: #1e2030;
    --font-primary: whitesmoke;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: white;
    --code-background: #1a2638;
    --font-primary: black;
  }
}
