---
import { NAME } from "../consts";
import GithubIcon from "../icons/github-icon.svg";
const today = new Date();
---

<footer>
  &copy; {today.getFullYear()}
  {NAME}. All rights reserved.
  <div class="social-links">
    <a
      href="https://github.com/Omochice"
      target="_blank"
    >
      <span class="sr-only">Omochice github user page</span>
      <GithubIcon
        aria-hidden="true"
        width="32"
        height="32"
        astro-icon="social/github"
        fill="currentColor"
      />
    </a>
  </div>
</footer>
<style>
  footer {
    padding: 2em 1em 6em;
    color: rgb(var(--gray));
    text-align: center;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
  }

  .social-links {
    display: flex;
    gap: 1em;
    justify-content: center;
    margin-top: 1em;
  }

  .social-links a {
    color: rgb(var(--gray));
    text-decoration: none;
  }

  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>
