---
import GithubIcon from "../assets/github-icon.svg";
import { NAME } from "../consts";
const today = new Date();
---

<footer class="py-8 px-4 pb-24 text-gray text-center bg-gray-gradient bg-no-repeat">
  &copy; {today.getFullYear()}
  {NAME}. All rights reserved.
  <div class="social-links flex gap-4 justify-center mt-4">
    <a
      href="https://github.com/Omochice"
      target="_blank"
      class="text-gray no-underline hover:text-gray-dark"
    >
      <span class="sr-only">Omochice github user page</span>
      <GithubIcon
        aria-hidden="true"
        width="32"
        height="32"
        astro-icon="social/github"
        fill="currentColor"
      />
    </a>
  </div>
</footer>
