---
import type { HTMLAttributes } from "astro/types";
import { isSamePath } from "ufo";

type Props = HTMLAttributes<"a"> & { href: string | URL };

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const normalized = typeof href === "string" ? href : href.pathname;
const isActive = isSamePath(normalized, pathname);
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		display: inline-block;
		text-decoration: none;
	}
	a.active {
		font-weight: bolder;
		text-decoration: underline;
	}
</style>
