---
import { joinURL } from "ufo";
import GithubIcon from "../assets/github-icon.svg";
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
---

<header class="px-4 m-0 bg-white shadow-header" style="container-type: inline-size;">
  <nav class="flex items-center justify-between">
    <h2 class="m-0 text-base"><a href={import.meta.env.BASE_URL} class="no-underline">{SITE_TITLE}</a></h2>
    <div class="internal-links flex-1 relative">
      <div class="align-right p-0.5 text-right [@container_(width<calc(406px-2em))]:block [@container_(width>=calc(406px-2em))]:hidden">
        <label class="show-menu relative inline-block w-8 h-8 text-center cursor-pointer border border-gray-300 rounded-[0.2em] hover:bg-gray-300"
          ><input
            class="hidden-checkbox absolute invisible"
            type="checkbox"
          />=</label
        >
      </div>
      <div class="header-links [@container_(width<calc(406px-2em))]:absolute [@container_(width<calc(406px-2em))]:z-[1] [@container_(width<calc(406px-2em))]:rounded-[0.2em] [@container_(width<calc(406px-2em))]:text-right [@container_(width<calc(406px-2em))]:bg-white [@container_(width<calc(406px-2em))]:hidden [.internal-links:has(.hidden-checkbox:checked)>&]:[@container_(width<calc(406px-2em))]:block">
        <HeaderLink href={import.meta.env.BASE_URL}>Home</HeaderLink>
        <HeaderLink href={joinURL(import.meta.env.BASE_URL, "posts")}
          >All Posts</HeaderLink
        >
      </div>
    </div>
    <div class="social-links flex [@container_(width<=calc(720px-2em))]:hidden">
      <a
        href="https://github.com/Omochice"
        target="_blank"
        class="flex"
      >
        <span class="sr-only">Omochice github user page</span>
        <GithubIcon
          aria-hidden="true"
          width="32"
          height="32"
          astro-icon="social/github"
          fill="currentColor"
        />
      </a>
    </div>
  </nav>
</header>
