---
import { joinURL } from "ufo";
import GithubIcon from "../assets/github-icon.svg";
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav>
    <h2><a href={import.meta.env.BASE_URL}>{SITE_TITLE}</a></h2>
    <div class="internal-links">
      <div class="align-right">
        <label class="show-menu"
          ><input
            class="hidden-checkbox"
            type="checkbox"
          />=</label
        >
      </div>
      <div class="header-links">
        <HeaderLink href={import.meta.env.BASE_URL}>Home</HeaderLink>
        <HeaderLink href={joinURL(import.meta.env.BASE_URL, "posts")}
          >All Posts</HeaderLink
        >
      </div>
    </div>
    <div class="social-links">
      <a
        href="https://github.com/Omochice"
        target="_blank"
      >
        <span class="sr-only">Omochice github user page</span>
        <GithubIcon
          aria-hidden="true"
          width="32"
          height="32"
          astro-icon="social/github"
          fill="currentColor"
        />
      </a>
    </div>
  </nav>
</header>
<style>
  header {
    padding: 0 1em;
    margin: 0;
    background: white;
    box-shadow: 0 2px 8px rgb(var(--black), 5%);
    container-type: inline-size;
  }

  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    text-decoration: none;
    border-bottom: 4px solid transparent;
  }

  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }

  nav .internal-links {
    flex: 1;
  }

  .social-links,
  .social-links a {
    display: flex;
  }

  @container (width <= calc(720px - 2em)) {
    .social-links {
      display: none;
    }
  }

  @container (width < calc(406px - 2em)) {
    .align-right {
      padding: 0.1em;
      vertical-align: middle;
      text-align: right;
    }

    .show-menu {
      position: relative;
      display: inline-block;
      width: 2em;
      height: 2em;
      vertical-align: middle;
      text-align: center;
      cursor: pointer;
      border: lightgray 1px solid;
      border-radius: 0.2em;
    }

    .header-links {
      position: absolute;

      /* NOTE: DONT USE Z-INDEX */
      z-index: 1;
      border-radius: 0.2em;
    }

    .show-menu:hover {
      background: lightgray;
    }

    .internal-links {
      position: relative;
    }

    .internal-links:not(:has(.hidden-checkbox:checked)) > .header-links {
      display: none;
    }

    .internal-links:has(.hidden-checkbox:checked) > .header-links {
      display: block;
      text-align: right;
      background: white;
    }
  }

  @container (width >= calc(406px - 2em)) {
    .show-menu {
      display: none;
    }
  }

  .hidden-checkbox {
    position: absolute;
    visibility: hidden;
  }
</style>
