---
import { joinURL } from "ufo";
import GithubIcon from "../assets/github-icon.svg";
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav>
    <h2><a href={import.meta.env.BASE_URL}>{SITE_TITLE}</a></h2>
    <div class="internal-links">
      <div class="align-right">
        <label class="show-menu"
          ><input
            class="hidden-checkbox"
            type="checkbox"
          /><span class="hamburger-icon" aria-hidden="true"></span
          ><span class="sr-only">Menu</span></label
        >
      </div>
      <div class="header-links">
        <HeaderLink href={import.meta.env.BASE_URL}>Home</HeaderLink>
        <HeaderLink href={joinURL(import.meta.env.BASE_URL, "posts")}
          >All Posts</HeaderLink
        >
      </div>
    </div>
    <div class="social-links">
      <a
        href="https://github.com/Omochice"
        target="_blank"
      >
        <span class="sr-only">Omochice github user page</span>
        <GithubIcon
          aria-hidden="true"
          width="32"
          height="32"
          astro-icon="social/github"
          fill="currentColor"
        />
      </a>
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    container-type: inline-size;
    background: white;
    box-shadow: 0 2px 8px rgb(var(--black), 5%);
  }

  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
  }

  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    text-decoration: none;
    border-bottom: 4px solid transparent;
  }

  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }

  nav .internal-links {
    flex: 1;
  }

  .social-links,
  .social-links a {
    display: flex;
  }

  /* 720px: same as --content-width; CSS container size queries cannot use custom properties */
  @container (width <= 720px) {
    .social-links {
      display: none;
    }
  }

  /* 406px: threshold where nav links no longer fit beside site title */
  @container (width < 406px) {
    .align-right {
      padding: 0.1em;
      vertical-align: middle;
      text-align: right;
    }

    .show-menu {
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 2.5em;
      height: 2.5em;
      cursor: pointer;
      border: 1px solid rgb(var(--gray-light));
      border-radius: 0.4em;
      transition: background-color 0.2s;
    }

    .hamburger-icon,
    .hamburger-icon::before,
    .hamburger-icon::after {
      display: block;
      width: 1.2em;
      height: 2px;
      background-color: rgb(var(--gray-dark));
      border-radius: 1px;
    }

    .hamburger-icon {
      position: relative;
      pointer-events: none;
    }

    .hamburger-icon::before,
    .hamburger-icon::after {
      position: absolute;
      left: 0;
      content: "";
    }

    .hamburger-icon::before {
      top: -0.35em;
    }

    .hamburger-icon::after {
      top: 0.35em;
    }

    .header-links {
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 1;
      min-width: 10em;
      overflow: hidden;
      border: 1px solid rgb(var(--gray-light));
      border-radius: 0.4em;
      box-shadow: 0 4px 12px rgb(var(--black), 8%);
    }

    .show-menu:hover {
      background-color: rgb(var(--gray-light));
    }

    .internal-links {
      position: relative;
    }

    .internal-links:not(:has(.hidden-checkbox:checked)) > .header-links {
      display: none;
    }

    .internal-links:has(.hidden-checkbox:checked) > .header-links {
      display: flex;
      flex-direction: column;
      background: white;
    }

    .header-links a {
      display: block;
      padding: 0.6em 1em;
      color: rgb(var(--gray-dark));
      text-align: left;
      border-bottom: none;
      transition: background-color 0.15s;
    }

    .header-links a:hover {
      background-color: rgb(var(--gray-light));
    }

    .header-links a.active {
      padding-left: calc(1em - 3px);
      color: rgb(var(--black));
      border-left: 3px solid var(--accent);
    }

    .header-links a + a {
      border-top: 1px solid rgb(var(--gray-light));
    }
  }

  @container (width >= 406px) {
    .show-menu {
      display: none;
    }
  }

  .hidden-checkbox {
    position: absolute;
    visibility: hidden;
  }
</style>
