---
import type { HTMLAttributes } from "astro/types";
import { isSamePath } from "ufo";

type Props = HTMLAttributes<"a"> & { href: string | URL };

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const normalized = typeof href === "string" ? href : href.pathname;
const isActive = isSamePath(normalized, pathname);
---

<a
  href={href}
  class:list={[className, "inline-block no-underline py-4 px-2 text-black border-b-4 border-transparent", { "font-bold underline border-b-accent": isActive }]}
  {...props}
>
  <slot />
</a>
