---
import { getCollection } from "astro:content";
import { joinURL } from "ufo";
import FormattedDate from "../components/FormattedDate.astro";
import { budouxfy } from "../lib/parse-with-budoux";

interface Props {
  size?: number;
}

const posts = (await getCollection("post"))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, Astro.props.size);
---

<ul class="flex flex-col gap-8 p-0 m-0 list-none">
  {
    posts.map((post) => (
      <li>
        <a
          class="block w-full no-underline transition-colors duration-200 ease-out hover:[&_.title]:text-accent hover:[&_.date]:text-accent"
          href={joinURL(import.meta.env.BASE_URL, "posts", post.slug)}
        >
          <h2
            class="title m-0 overflow-hidden text-ellipsis text-[1.17em] text-black line-clamp-3"
            style="-webkit-box-orient: vertical; display: -webkit-box;"
            set:html={budouxfy(post.data.title)}
            transition:name={`transition-${post.slug}`}
          />
          <p class="date m-0 text-gray">
            <FormattedDate
              date={post.data.date}
              transition:name={`transition-${post.slug}-date`}
            />
          </p>
        </a>
      </li>
    ))
  }
</ul>
