name: Link Check
on:
  workflow_dispatch: null
  schedule:
    - cron: "45 15 * * *"

permissions:
  contents: read
  security-events: write

jobs:
  test:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    name: Link Check
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          run_install: true
          standalone: true
      - run: pnpm exec textlint src/content/post/*.md --rule no-dead-link -f @microsoft/eslint-formatter-sarif -o textlint.sarif
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@1b168cd39490f61582a9beae412bb7057a6b2c4e # v4.31.8
        with:
          sarif_file: textlint.sarif
          category: textlint
