name: Link Check
on:
  workflow_dispatch: null
  schedule:
    - cron: "45 15 * * *"

permissions:
  contents: read
  security-events: write

jobs:
  test:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    name: Link Check
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          run_install: true
          standalone: true
      - run: pnpm exec textlint src/content/post/*.md --rule no-dead-link -f @microsoft/eslint-formatter-sarif -o textlint.sarif
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@6bc82e05fd0ea64601dd4b465378bbcf57de0314 # v4.32.1
        with:
          sarif_file: textlint.sarif
          category: textlint
