name: Link Check
on:
  workflow_dispatch: null
  schedule:
    - cron: "45 15 * * *"

permissions:
  contents: read
  security-events: write

jobs:
  test:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    name: Link Check
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          run_install: true
          standalone: true
      - run: pnpm exec textlint src/content/post/*.md --rule no-dead-link -f @microsoft/eslint-formatter-sarif -o textlint.sarif
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@e12f0178983d466f2f6028f5cc7a6d786fd97f4b # v4.31.4
        with:
          sarif_file: textlint.sarif
          category: textlint
