name: Link Check
on:
  workflow_dispatch: null
  schedule:
    - cron: "45 15 * * *"

permissions:
  contents: read
  security-events: write

jobs:
  test:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    name: Link Check
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          run_install: true
          standalone: true
      - run: pnpm exec textlint src/content/post/*.md --rule no-dead-link -f @microsoft/eslint-formatter-sarif -o textlint.sarif
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@fdbfb4d2750291e159f0156def62b853c2798ca2 # v4.31.5
        with:
          sarif_file: textlint.sarif
          category: textlint
