name: check files

on:
  - push
  - pull_request

permissions:
  contents: read

jobs:
  path-filter:
    timeout-minutes: 5
    outputs:
      actions: ${{steps.changes.outputs.actions}}
      lua: ${{steps.changes.outputs.lua}}
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: changes
        with:
          filters: |
            actions:
              - ".github/workflows/*.yml"
              - ".github/workflows/*.yaml"
  check-actions:
    needs: path-filter
    if: needs.path-filter.outputs.actions == 'true'
    timeout-minutes: 30
    permissions: {}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.56.3
      - name: Linting
        run: |
          shellcheck --version
          ghalint run
          actionlint -color
  check:
    needs: path-filter
    timeout-minutes: 30
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          run_install: true
          standalone: true
      - run: pnpm run check
      - run: pnpm run test
  status-check:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    needs:
      - check-actions
      - check
    permissions: {}
    if: failure()
    steps:
      - run: exit 1
